@import '../../styles/mixins';

.tileContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  @include respond-to(mobile) {
    flex-direction: column;
    gap: 0 !important;
    margin: 0 !important;
    > * {
      width: 100% !important;
    }
  }
  @include respond-to(small-tablet) {
    flex-direction: column;
    gap: 0 !important;
    margin: 0 !important;
    > * {
      width: 100% !important;
    }
  }
  @include respond-to(tablet) {
    flex-direction: column;
    gap: 0 !important;
    margin: 0 !important;
    > * {
      width: 100% !important;
    }
  }
}

