/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

@use '../../styles/mixins';

.tileContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  @include mixins.respond-to(mobile) {
    flex-direction: column;
    gap: 0 !important;
    margin: 0 !important;
    > * {
      width: 100% !important;
    }
  }
  @include mixins.respond-to(small-tablet) {
    flex-direction: column;
    gap: 0 !important;
    margin: 0 !important;
    > * {
      width: 100% !important;
    }
  }
  @include mixins.respond-to(tablet) {
    flex-direction: column;
    gap: 0 !important;
    margin: 0 !important;
    > * {
      width: 100% !important;
    }
  }
}

