/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

@use '../../styles/mixins';

$transition-duration: 110ms;
$hover-scale: 0.95;
$opacity: 1;
$transition-type: ease-in;
$icon-size: 6vh;

@mixin user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin hover-effect {
  transform: scale($hover-scale);
  transition: $transition-duration $transition-type;
  -webkit-transform: scale($hover-scale);
  @include user-select-none;
}

#myImg1Post, #myImg2Post, #myImg3Post {
  opacity: $opacity;
  transition: 170ms $transition-type;
  cursor: pointer;
  z-index: 999;

  &:hover {
    opacity: $opacity;
    transition: 200ms $transition-type;
  }
}

.postDonateIconsWrapper {
  text-align: center;
  @include mixins.respond-to(mobile) { display: none; }
  @include mixins.respond-to(small-tablet) { display: none; }
}

.postDonateIconsWrapperMobile {
  text-align: center;
  @include mixins.respond-to(mobile) { margin: 2.2rem 0 -1rem 0; }
  @include mixins.respond-to(small-tablet) {  }
  @include mixins.respond-to(tablet) { display: none; }
  @include mixins.respond-to(small-desktop) { display: none; }
  @include mixins.respond-to(desktop) { display: none; }
}

.postDonateIcon1, .postDonateIcon2, .postDonateIcon3, .postDonateIcon4, .postDonateIcon5, .postDonateIcon6 {
  width: $icon-size;
  height: 100%;
  transition: $transition-duration $transition-type;
  @include user-select-none;

  &:hover {
    @include hover-effect;
  }
}