/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

.image {
    transition: transform 0.15s;
    cursor: pointer;

    &:hover {
        transform: scale(0.96);
        transition: transform 0.15s;
    }
}