@use '../../styles/mixins';

.codeWrapper {
  @include mixins.respond-to(mobile) {
    display: inline-block;
    width: 100vw;
    margin-left: -2rem;
  }
  @include mixins.respond-to(small-tablet) {
    display: inline-block;
    width: 104vw;
    margin-left: -3rem;
  }
  @include mixins.respond-to(tablet) {
    display: inline-block;
    width: 95vw;
    margin-left: -6rem;
  }
  @include mixins.respond-to(small-desktop) {
    width: fit-content;
    margin: 0 auto;
  }
  @include mixins.respond-to(desktop) {
    width: fit-content;
    margin: 0 auto;
  }
}