/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

@use 'variables' as var;
@use 'mixins' as mix;

%body-box {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  color: var.$color-text;
  background-color: var.$color-bg-body;
  padding: 0.2rem 1.5rem;
  border-radius: 2vh;
  transition: margin 1s ease, padding 1s ease;
  @include mix.respond-to(tablet) { font-weight: lighter; }
  @include mix.respond-to(small-desktop) { font-weight: lighter; }
  @include mix.respond-to(desktop) { font-weight: lighter; }
}
  
%body-box-tile {
  @extend %body-box;
  background-color: transparent;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  margin-top: 1em;
  @include mix.respond-to(tablet) { font-weight: lighter; }
  @include mix.respond-to(small-desktop) { font-weight: lighter; }
  @include mix.respond-to(desktop) { font-weight: lighter; }
}
  
%body-box-nested {
  max-width: 100%;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  border-radius: 2vh;
  transition: margin 1s ease, padding 1s ease;
  @include mix.respond-to(tablet) { font-weight: lighter; }
  @include mix.respond-to(small-desktop) { font-weight: lighter; }
  @include mix.respond-to(desktop) { font-weight: lighter; }
}
  
%link-common {
  text-decoration: none;
  font-weight: 800;
  border-bottom: 0;
  color: var.$color-link;
  transition: color 0.1s ease-in-out;
  
  &:hover {
    border-bottom: 0;
    color: var.$color-link-hover;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}