@use 'mixins';

.tileContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.greetingsWrapper {
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: center;
  color: #615050;
  font-weight: bold;
  display: flex;
  justify-content: center;
  @include mixins.respond-to(small-desktop) { margin-top: 2vh; }
  @include mixins.respond-to(desktop) { margin-top: 2vh; }
}

.aboutPhoto {
  border-radius: 2vh;
  align-self: center;
  margin-left: 5rem;
  @include mixins.respond-to(mobile) { display: none !important }
  @include mixins.respond-to(small-tablet) { display: none !important }
  @include mixins.respond-to(tablet) { display: none !important }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 4s;
  animation-iteration-count: 4s;
  transform-origin: 70% 70%;
  display: inline-block;
  vertical-align: middle;
  width: clamp(2rem, 5vw, 3.5rem);
  @include mixins.respond-to(mobile) { display: none !important }
  @include mixins.respond-to(small-tablet) { display: none !important }
  @include mixins.respond-to(tablet) { display: none !important }
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
