/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

.buttonTextWrapper {
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.buttonTextWrapper-enter {
  opacity: 0;
  transform: translateY(-10%);
}

.buttonTextWrapper-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.buttonTextWrapper-exit {
  opacity: 1;
  transform: translateY(0);
}

.buttonTextWrapper-exit-active {
  opacity: 0;
  transform: translateY(10%);
}