@import 'mixins';

.smallScreenNotice {
    font-size: 1.3rem;
    margin: 1rem;
    padding: 0.1rem 1.5rem;
    font-weight: 900;
    line-height: 1.6rem;
    color: #7e7e7e;
    background-color: white;
    border-radius: 2vh;
    @include respond-to(mobile) {}
    @include respond-to(small-tablet) {}
    @include respond-to(tablet) {}
    @include respond-to(small-desktop) { display: none }
    @include respond-to(desktop) { display: none }
}

.desktopOnlySupport {
    @include respond-to(mobile) { display: none }
    @include respond-to(small-tablet) { display: none }
    @include respond-to(tablet) { display: none }
    @include respond-to(small-desktop) {}
    @include respond-to(desktop) {}
}

.mobileOnlySupport {
    @include respond-to(mobile) {}
    @include respond-to(small-tablet) {}
    @include respond-to(tablet) {}
    @include respond-to(small-desktop) { display: none }
    @include respond-to(desktop) { display: none }
}