@use 'mixins';

.prevHome {
  display: block;
  width: 100%;
  max-width: 100%;
  @include mixins.respond-to(mobile) { display: none !important }
  @include mixins.respond-to(small-tablet) { display: none !important }
  @include mixins.respond-to(tablet) { display: none !important }
  @include mixins.respond-to(small-desktop) { display: none !important }
}
  
.prew {
  display: block;
  width: 462px;
  margin-top: 18px;
  z-index: 1;
}
  
.title {
  font-size: 3.6vh;
  font-weight: 1000;
  text-shadow: 0 0px 0 #7C7C7C;
  padding: 0 1em;
  margin: 0.3em 0;
}
  
.titleHome {
  font-size: 2.4vh;
  font-weight: 1000;
  text-shadow: 0 0px 0 #7C7C7C;
  padding: 0 1em;
  margin: 0.3em 0;
  @include mixins.respond-to(mobile) { display: none !important }
  @include mixins.respond-to(small-tablet) { display: none !important }
  @include mixins.respond-to(tablet) { display: none !important }
  @include mixins.respond-to(small-desktop) { display: none !important }
}
  
.titleblock {
  background-color: #ffffff;
  border-radius: 1vh;
  z-index: 1;
  pointer-events: none;
}
  
.description {
  font-size: 2.4vh;
  font-weight: bold;
  text-shadow: 0 25px 0 #ffffff;
}
  
.overlayBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.25s;
  max-width: 100%;
  cursor: pointer;
}
  
.overlayBack:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.25s;
  max-width: 100%;
  cursor: pointer;
}
  
.overlayBase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  max-width: 100%;
  cursor: pointer;
}
  
.overlayBaseHome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  max-width: 100%;
  cursor: pointer;
}
  
.overlayBase:hover {
  opacity: 1;
}

.overlayBaseHome:hover {
  opacity: 1;
}
  
.overlayBase > *  {
  transform: translateY(0px);
  transition: transform 0.15s;
}

.overlayBaseHome > *  {
  transform: translateY(0px);
  transition: transform 0.15s;
}

.overlayBase:hover > *  {
  transform: translateY(0);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > div {
  flex-basis: 50%;
  padding-left: 16px;
}

.column {
  flex: 50%;
  padding: 10px;
}

.header {
  padding: 0 2.4em 50px 0;
}