/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

.toc ul {
  counter-reset: item;
}

.toc ul > li {
  display: block;
}

.toc ul>li:before {
  content: counters(item, ".") ". "; 
  counter-increment: item;
}