.navbarPostSection {
  opacity: 0.22 !important;
  transition: opacity 0.2s ease
}

.navbarPostSection:hover {
  opacity: 0.6 !important;
  transition: opacity 0.2s ease
}

.logo {
  margin-right: 3vh;
  width: 11.5vh;
  transition: all 2s;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.logo:hover {
	transform: scale(0.98);
  filter: alpha(opacity=0.8);
  opacity: 0.78;
}