@use '../../styles/mixins';

.footerBadgeStyle {
  transition: 110ms ease-in;
  opacity: 0.6;
  filter: alpha(opacity=40);
  &:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.footerContactStyle {
  transition: 110ms ease-in;
  opacity: 1;
  &:hover {
    opacity: 0.75;
  }
  @include mixins.respond-to(mobile) { display: none }
  @include mixins.respond-to(small-tablet) { display: none }
  @include mixins.respond-to(tablet) { display: none }
}

.box {
  padding-top: 10vh;
  width: 100%;
  margin-bottom: -8vh;
  margin-top: 1.5vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  color: #777;
  grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  grid-gap: 0.3vw;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  }

  font-weight: bold;
}

.footerLink {
  transition: 110ms ease-in;

  &:hover {
    filter: alpha(opacity=40);
    transition: 110ms ease-in;
    transform: scale(1.1);
  }
}

.linkImg {
  height: clamp(2rem, 2.2vw, 4rem);
  width: clamp(2rem, 2.2vw, 4rem);
}

.footerCopyStyle {
  font-size: clamp(0.9rem, 0.9vw, 1.4rem);
  @include mixins.respond-to(mobile) { position: absolute; left: 0; right: 0; margin-inline: auto; width: fit-content; }
  @include mixins.respond-to(small-tablet) { position: absolute; left: 0; right: 0; margin-inline: auto; width: fit-content; }
  @include mixins.respond-to(tablet) { position: absolute; left: 0; right: 0; margin-inline: auto; width: fit-content; }
  @include mixins.respond-to(small-desktop) { margin-top: 3.5vw; transform: translate(-5.5vw, 0); }
  @include mixins.respond-to(desktop) { margin-top: 3.5vw; transform: translate(-5.5vw, 0); }
}

.footerNameStyle {
  font-weight: normal;
}

.footerLinksStyle {
  @include mixins.respond-to(mobile) { transform: translateY(1.2rem); }
  @include mixins.respond-to(small-tablet) { transform: translateY(1.2rem); }
  @include mixins.respond-to(tablet) { transform: translateY(1.2rem); }
  @include mixins.respond-to(small-desktop) { transform: translateY(1.2rem); }
  @include mixins.respond-to(desktop) { transform: translateY(2.5rem); }
}

.badgesLeftWrapper {
  justify-content: left;
  margin-left: 5%;
  @include mixins.respond-to(mobile) { display: none }
  @include mixins.respond-to(small-tablet) { display: none }
  @include mixins.respond-to(tablet) { display: none }
}

.badgesRightWrapper {
  justify-content: right;
  margin-right: 5%;
}

.badgeFirst {
  margin-top: -1.2vw;
  position: absolute;
  height: 1.2vw;
}

.badgeSecond {
  margin-top: -0.2vw;
  position: absolute;
  margin-left: -0.3vw;
  height: 1.2vw;
}

.badgeThird {
  margin-top: 0.8vw;
  position: absolute;
  margin-left: -0.6vw;
  height: 1.2vw;
}

.badgeFourth {
  margin-top: 1.8vw;
  position: absolute;
  margin-left: -0.9vw;
  height: 1.2vw;
}

.badgeFifth {
  margin-top: 2.8vw;
  position: absolute;
  margin-left: -1.2vw;
  height: 1.2vw;
}

.badgeSixth {
  margin-top: 3.8vw;
  position: absolute;
  margin-left: 0;
  height: 1.2vw;
  opacity: 0.6;
}

.visitsTodayBadge {
  margin-top: -1vw;
  position: absolute;
  height: 1.2vw;
}

.visitsTotalBadge {
  margin-top: 0.2vw;
  position: absolute;
  height: 1.2vw;
}

.visitsTodayBadge, .visitsTotalBadge {
  @include mixins.respond-to(mobile) { display: none }
  @include mixins.respond-to(small-tablet) { display: none }
  @include mixins.respond-to(tablet) { display: none }
}

.contactButtonStyle {
  position: absolute;
  height: 1.2vw;
  border-radius: 2vh;
  margin-top: 3.65vw;
  transform: translate(-4.05vw, 0);
}