/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

@use '../../styles/mixins';

.footerBadgeStyle {
  transition: 110ms ease-in;
  opacity: 0.6;
  filter: alpha(opacity=40);
  &:hover {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.box {
  padding-top: 10vh;
  width: 100%;
  margin-bottom: -8vh;
  margin-top: 1.5vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  color: #777;
  grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  grid-gap: 0.3vw;
  font-weight: bold;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  }
}

.footerLink {
  transition: 110ms ease-in;

  &:hover {
    filter: alpha(opacity=40);
    transition: 110ms ease-in;
    transform: scale(1.1);
  }
}

.linkImg {
  height: clamp(2rem, 2.2vw, 4rem);
  width: clamp(2rem, 2.2vw, 4rem);
}

.footerCopyStyle {
  font-size: clamp(0.9rem, 0.98vw, 1.4rem);
  @include mixins.respond-to(mobile) { position: absolute; left: 0; right: 0; margin-inline: auto; width: fit-content; }
  @include mixins.respond-to(small-tablet) { position: absolute; left: 0; right: 0; margin-inline: auto; width: fit-content; }
  @include mixins.respond-to(tablet) { position: absolute; left: 0; right: 0; margin-inline: auto; width: fit-content; }
  @include mixins.respond-to(small-desktop) { margin-top: 3.5vw; }
  @include mixins.respond-to(desktop) { margin-top: 3.5vw; }
}

.footerNameStyle {
  font-weight: normal;
}

.footerLinksStyle {
  @include mixins.respond-to(mobile) { transform: translateY(1.2rem); }
  @include mixins.respond-to(small-tablet) { transform: translateY(1.2rem); }
  @include mixins.respond-to(tablet) { transform: translateY(1.2rem); }
  @include mixins.respond-to(small-desktop) { transform: translateY(1.2rem); }
  @include mixins.respond-to(desktop) { transform: translateY(3.2rem); }
}

.badgesLeftWrapper {
  justify-content: left;
  margin-left: 5%;
  @include mixins.respond-to(mobile) { display: none }
  @include mixins.respond-to(small-tablet) { display: none }
  @include mixins.respond-to(tablet) { display: none }
}

.badgesRightWrapper {
  justify-content: right;
  margin-right: 12%;
  @include mixins.respond-to(mobile) { display: none }
  @include mixins.respond-to(small-tablet) { display: none }
  @include mixins.respond-to(tablet) { display: none }
}

.badgeFirst {
  margin-top: -0.25vw;
  position: absolute;
  font-size: clamp(0.5em, 0.9vw, 3em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  &:hover {
    border-bottom: 0;
    color: #424242;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}

.badgeSecond {
  margin-top: 1vw;
  position: absolute;
  margin-left: -0.3vw;
  font-size: clamp(0.5em, 0.9vw, 2em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  &:hover {
    border-bottom: 0;
    color: #424242;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}

.badgeThird {
  margin-top: 2.25vw;
  position: absolute;
  margin-left: -0.6vw;
  font-size: clamp(0.5em, 0.9vw, 2em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  &:hover {
    border-bottom: 0;
    color: #424242;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}

.badgeFourth {
  margin-top: 3.5vw;
  position: absolute;
  margin-left: -0.9vw;
  font-size: clamp(0.5em, 0.9vw, 2em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  &:hover {
    border-bottom: 0;
    color: #424242;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}

.badgeFirstRight {
  margin-top: -0.25vw;
  position: absolute;
  font-size: clamp(0.5em, 0.9vw, 3em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  &:hover {
    border-bottom: 0;
    color: #424242;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}

.badgeSecondRight {
  margin-top: 1vw;
  position: absolute;
  margin-left: -0.3vw;
  font-size: clamp(0.5em, 0.9vw, 2em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  &:hover {
    border-bottom: 0;
    color: #424242;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}

.badgeThirdRight {
  margin-top: 2.25vw;
  position: absolute;
  margin-left: -0.6vw;
  font-size: clamp(0.5em, 0.9vw, 2em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  &:hover {
    border-bottom: 0;
    color: #424242;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
  }
}

.badgeFourthRight {
  margin-top: 3.5vw;
  position: absolute;
  margin-left: -0.9vw;
  font-size: clamp(0.5em, 0.9vw, 2em);
  font-weight: 800;
  border-bottom: 0;
  color: #8e8e8e;
  transition: color 0.1s ease-in-out;
  opacity: 0.8;
}