.readNextWrapper {
  margin-top: 1vw;
  margin-bottom: 20vw;
}

.readNextWrapper:hover {
  margin-top: 1vw;
  margin-bottom: 20vw;
}

.lastPost {
  position: absolute;
  left: 50.5%;
  width: 28vw;
  border-radius: 2vh;
  object-fit: cover;
  height: 30vh;
  filter: brightness(60%);
  opacity: 0.65;
  transition: 110ms ease-in;
	-webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}

.nextPost {
  position: absolute;
  right: 50.5%;
  width: 28vw;
  border-radius: 2vh;
  object-fit: cover;
  height: 30vh;
  filter: brightness(60%);
  opacity: 0.65;
  transition: 110ms ease-in;
	-webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}

.lastPost:hover {
  position: absolute;
  left: 50.5%;
  width: 28vw;
  border-radius: 2vh;
  object-fit: cover;
  height: 30vh;
  opacity: 1;
  transform: scale(0.98);
  transition: 110ms ease-in;
  -webkit-transform: scale(0.98);
	  -webkit-touch-callout: none;
	    -ms-transform: scale(0.98);
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;
}

.nextPost:hover {
  position: absolute;
  right: 50.5%;
  width: 28vw;
  border-radius: 2vh;
  object-fit: cover;
  height: 30vh;
  opacity: 1;
  transform: scale(0.98);
  transition: 110ms ease-in;
  -webkit-transform: scale(0.98);
	  -webkit-touch-callout: none;
	    -ms-transform: scale(0.98);
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;
}

.lastArrow {
  position: absolute;
  left: 58.5%;
  width: 12vw;
  border-radius: 2vh;
  object-fit: cover;
  transform: translateY(10%);
  pointer-events: none
}

.nextArrow {
  position: absolute;
  right: 58.5%;
  width: 12vw;
  border-radius: 2vh;
  object-fit: cover;
  transform: translateY(10%);
  pointer-events: none
}

.lastArrow:hover {
  position: absolute;
  left: 58.5%;
  width: 12vw;
  border-radius: 2vh;
  object-fit: cover;
  transform: translateY(10%);
  pointer-events: none
}

.nextArrow:hover {
  position: absolute;
  right: 58.5%;
  width: 12vw;
  border-radius: 2vh;
  object-fit: cover;
  transform: translateY(10%);
  pointer-events: none;
}