@import '../../styles/mixins';

#info {
	opacity: 0.4;
	display: inline-block;
	height: 100%;
	width: clamp(1.6rem, 2.5vw, 1.9rem);
	vertical-align: sub;
    margin-left: -0.2rem;
	transition: 120ms ease-in;
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-khtml-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;

    &:hover {
        opacity: 0.75;
	    transition: 120ms ease-in;
    }
}

.tooltipWrapper {
    position: relative;
    display: inline-block;

    .tooltiptext {
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        visibility: hidden;
        width: 600px;
        background-color: #444444;
        color: #f2f2f2;
        text-align: center;
        border-radius: 6px;
        padding: 10px 12px;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        left: 50%;
        margin-left: -310px;
        opacity: 0;
        transition: opacity 0.3s;
        @include respond-to(mobile) { 
            position: fixed; 
            top: 50%; 
            left: 50%; 
            bottom: auto;
            transform: translate(-50%, -50%); 
            width: 100vw;
            margin: 0;
            -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -khtml-user-select: none;
            -moz-user-select: none; 
            -ms-user-select: none;
            user-select: none;
            line-height: 1.25rem;
        }
        @include respond-to(small-tablet) { 
            position: fixed; 
            top: 50%; 
            left: 50%; 
            bottom: auto;
            transform: translate(-50%, -50%); 
            width: 100vw;
            margin: 0;
            -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -khtml-user-select: none;
            -moz-user-select: none; 
            -ms-user-select: none;
            user-select: none;
            line-height: 1.4rem; 
        }
        @include respond-to(tablet) { 
            position: fixed; 
            top: 50%; 
            left: 50%; 
            bottom: auto;
            transform: translate(-50%, -50%); 
            width: 100vw;
            margin: 0;
            -webkit-touch-callout: none;
            -webkit-user-select: none; 
            -khtml-user-select: none;
            -moz-user-select: none; 
            -ms-user-select: none;
            user-select: none;
            line-height: 1.6rem; 
        }
        @include respond-to(small-desktop) { 
            line-height: 1.8rem; 
        }
        @include respond-to(desktop) { 
            line-height: 1.8rem; 
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -5px;
            border-style: solid;
            border-color: transparent transparent transparent;
        }
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.visible {
    visibility: visible;
    opacity: 1;
}
