/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

@use '../../styles/mixins';

.caption {
    color: #8e8e8e;
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin-top: -4rem;
    @include mixins.respond-to(mobile) { line-height: 0.8rem; }
    @include mixins.respond-to(small-tablet) { line-height: 1rem; }
    @include mixins.respond-to(tablet) { line-height: 1.2rem; }
    @include mixins.respond-to(small-desktop) { line-height: 1.4rem; }
    @include mixins.respond-to(desktop) { line-height: 1.4rem; }
}
