/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

@use '../../styles/mixins';

.categoryName {
  font-weight: bold;
  @include mixins.respond-to(mobile) { font-size: 1.2rem; margin-left: 0.15rem; }
  @include mixins.respond-to(small-tablet) { font-size: 1.2rem; margin-left: 0.15rem; }
  @include mixins.respond-to(tablet) { font-size: 1.2rem; margin-left: 0.15rem; }
  @include mixins.respond-to(small-desktop) { margin-left: 0.875rem; }
  @include mixins.respond-to(desktop) { margin-left: 0.875rem; }
}

.rightUpperCornerWrapper {
  font-weight: lighter;
  font-size: 18px;
  float: right;
  line-height: 46.5px;
  color: #bababa;
}

.numProjects {
  font-weight: lighter;
  font-size: 1.125rem;
  color: #bababa;
  line-height: 46.5px;
  @include mixins.respond-to(mobile) { display: none }
  @include mixins.respond-to(small-tablet) { display: none }
  @include mixins.respond-to(tablet) { display: none }
}

.img {
  vertical-align: middle;
  @include mixins.respond-to(mobile) { width: 2.8rem; height: 2.8rem; margin: -1rem -0.2rem 0 0; }
  @include mixins.respond-to(small-tablet) { width: 3rem; height: 3rem; margin: -1rem -0.2rem 0 0; }
  @include mixins.respond-to(tablet) { width: 3rem; height: 3rem; margin: -1rem -0.2rem 0 0; }
  @include mixins.respond-to(small-desktop) { width: 60px; height: 60px; margin-right: 2px; }
  @include mixins.respond-to(desktop) { width: 60px; height: 60px; margin-right: 2px; }
}

.categoryDesc {
  font-weight: lighter;
  color: #bababa;
  font-size: 18px;
  margin-left: 14px;
  margin-top: 32px;
  width: 80%;
  line-height: 20px;
  @include mixins.respond-to(mobile) { font-size: 0.85rem; margin-top: 0.8rem; margin-left: 0.15rem; }
  @include mixins.respond-to(small-tablet) { font-size: 0.85rem; margin-top: 0.8rem; margin-left: 0.15rem; }
  @include mixins.respond-to(tablet) { font-size: 0.85rem; margin-top: 0.8rem; margin-left: 0.15rem; }
}