@import '../../styles/mixins'; 

$transition-duration: 0.1s;

.badge {
  height: clamp(1.3rem, 2.7vw, 1.7rem);
  margin: 2px;
  cursor: pointer;
  transition: transform $transition-duration;
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
  -webkit-touch-callout: none;
  user-select: none;

  &:hover {
    transform: scale(0.95);
  }
  
  @include respond-to(tablet) { height: clamp(1.4rem, 3vw, 1.8rem); }
  @include respond-to(small-desktop) { height: 2rem; }
  @include respond-to(desktop) { height: 2rem; }
}

.badgesWrapper {
  line-height: 0;
}
