@import '../../styles/mixins'; 

$transition-duration: 0.1s;

.badge {
  height: 1.25rem;
  margin: 2px;
  cursor: pointer;
  transition: transform $transition-duration;
  -webkit-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
  -webkit-touch-callout: none;
  user-select: none;

  &:hover {
    transform: scale(0.95);
  }
  
  @include respond-to(small-tablet) { height: 1.3rem; }
  @include respond-to(tablet) { height: 1.4rem; }
  @include respond-to(small-desktop) { height: 2rem; }
  @include respond-to(desktop) { height: 2rem; }
}

.badgesWrapper {
  line-height: 0;
}
