@import '../../styles/mixins';

.flatLayout {
    @include respond-to(mobile) { display: flex; justify-content: center; align-items: center; }
    @include respond-to(small-tablet) { display: flex; justify-content: center; align-items: center; }
    @include respond-to(tablet) { display: flex; justify-content: center; align-items: center; }
}