/* 

Copyright © 2022  Vladislav Averett (avrtt)
Distributed under the GNU AGPLv3 license. For details and source code, please refer to <https://github.com/avrtt/avrtt.github.io>.

*/

@use '../../styles/mixins';

.flatLayout {
    @include mixins.respond-to(mobile) { display: flex; justify-content: center; align-items: center; }
    @include mixins.respond-to(small-tablet) { display: flex; justify-content: center; align-items: center; }
    @include mixins.respond-to(tablet) { display: flex; justify-content: center; align-items: center; }
}